/*body{

	background-color: #30ff02;
	-webkit-animation: test 5s infinite;

}

@-webkit-keyframes test{

	0%{background-color: #30ff02;}
	50%{background-color: #0230ff;}
	100%{background-color: #30ff02;};

}*/
		